<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

</head>
<div th:insert="header :: header"></div>

<body class="container">

<div th:if="${resumeList.empty}">
    <span class="text-info">No Resume Available</span>
</div>
<ul class="list-group">
    <li th:each="resume : ${resumeList}">
        <a th:href="@{/resume/{resume-id}(resume-id=${resume.id})}">
            <span th:text="${resume.name}"> Name </span>
        </a>
        <a th:href="@{/profile/{id}(id=${resume.owner.id})}">
            <span th:text="${resume.owner.firstName} + ' ' + ${resume.owner.lastName}"> Owner </span>
        </a>
    </li>
</ul>
</body>
</html>